
@{
    ViewData["Title"] = "Unit Learn";
}

<section id="home" class="vc_row bg-no-repeat fullheight d-flex align-items-center py-5"
         style="background-image: url(/HomeTemplate/assets/demo/bg/bg-75.svg); background-position: 170% 110%;">
    <div class="lqd-particles-bg-wrap">
        <div class="ld-particles-container">
            <div class="ld-particles-inner" id="particles-1559739661542-e9d04c39-a9eb" data-particles="true"
                 data-particles-options='{"particles":{"number":{"value":4}, "color":{"value":["#fdc14c", "#fd5c4c", "#48bb0f"]}, "shape":{"type":["circle"]}, "opacity":{"random":true, "anim":{"enable":true, "opacity_min":0.80000000000000004, "speed":1, "sync":true}}, "size":{"value":5, "random":true, "anim":{"enable":true, "size_min":52}}, "move":{"enable":true, "direction":"none", "speed":1, "random":true, "out_mode":"out"}}, "interactivity":[]}'>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="lqd-column col-lg-5 col-md-6">
                <div class="ld-fancy-heading mask-text text-uppercase">
                    Title
                </div>
                <div class="row">
                    <div class="lqd-column col-md-12" data-custom-animations="true"
                         data-ca-options='{"triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1600", "startDelay":"1300", "delay":"160", "easing":"easeOutQuint", "direction":"forward", "initValues":{"translateY":40, "opacity":0}, "animations":{"translateY":0, "opacity":1}}'>
                        <a href="~/Auth/RegisterIndividual"
                           class="btn btn-solid text-uppercase btn-md circle btn-bordered border-thin btn-gradient px-2"
                           data-localscroll="true" data-localscroll-options='{"scrollBelowSection":false}'>
                            <span>
                                <span class="btn-gradient-bg"></span>
                                <span class="btn-txt">اشترك الان</span>
                                <span class="btn-gradient-bg btn-gradient-bg-hover"></span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                                     class="btn-gradient-border" width="100%" height="100%">
                                <defs>
                                <linearGradient id="svg-border-1" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%"></stop>
                                <stop offset="100%"></stop>
                                                    </linearGradient>
                                                </defs>
                                <rect x="0.5" y="0.5" rx="29.5" ry="29.5" width="100%" height="100%"
                                      stroke="url(#svg-border-1)"></rect>
                                            </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="lqd-column col-lg-7 col-md-6 visible-md visible-lg">
                <div class="liquid-img-group-container lqd-parallax-images-7" data-custom-animations="true"
                     data-ca-options='{
                                    "triggerHandler":"inview",
                                    "animationTarget":".liquid-img-group-single",
                                    "duration":"1600",
                                    "startDelay":"1150",
                                    "delay":"200",
                                    "easing":"easeOutQuint",
                                    "direction":"forward",
                                    "initValues":{
                                        "translateX":40,
                                        "translateY":191,
                                        "rotateZ":7,
                                        "opacity":0
                                    },
                                    "animations":{
                                        "translateX":0,
                                        "translateY":0,
                                        "rotateZ":0,
                                        "opacity":1
                                    }}'>
                    <div class="liquid-img-group-inner">
                        <div class="liquid-img-group-single">
                            <div class="liquid-img-group-img-container">
                                <div class="liquid-img-container-inner" data-parallax="true"
                                     data-parallax-from='{"translateY":2}'
                                     data-parallax-to='{"translateY":120}'
                                     data-parallax-options='{"overflowHidden":false,"easing":"linear"}'>
                                    <figure>
                                        <img src="~/Images/Home/" alt="MainImage" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="liquid-img-group-single">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="vc_row pt-90 pb-90 bg-no-repeat"
         style="background-image: url(~/HomeTemplate/assets/demo/bg/bg-77.svg); background-position: 500% 0%;">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="lqd-column col-md-5 mb-30" data-custom-animations="true"
                 data-ca-options='{"triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1600", "delay":"160", "easing":"easeOutQuint", "direction":"forward", "initValues":{"translateY":30, "opacity":0}, "animations":{"translateY":0, "opacity":1}}'>
               00
            </div>
            <div class="lqd-column col-md-3 col-md-offset-1">
                <div class="lqd-column-inner" data-parallax="true" data-parallax-from='{"translateY":-30}'
                     data-parallax-to='{"translateY":120}'
                     data-parallax-options='{"duration":"2000", "easing":"linear", "reverse":true, "triggerHook":"onEnter", "overflowHidden": false}'>
                    @for (int i = 0; i < 4; i++)
                    {
                        if (i < 2)
                        {
                            <div class="iconbox text-left iconbox-round iconbox-lg iconbox-filled iconbox-filled iconbox-filled-hover iconbox-icon-image iconbox-shadow pt-50 pb-40">
                                <div class="iconbox-icon-wrap">
                                    <span class="iconbox-icon-container mb-35">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="42.375"
                                             height="45.188" viewBox="0 0 42.375 45.188">
                                            <defs>
                                                <filter id="filter-seo-icon-4" x="0.813" y="0" width="42.375"
                                                        height="45.188" filterUnits="userSpaceOnUse">
                                                    <feImage preserveAspectRatio="none" x="0.8125" y="0"
                                                             width="42.375" height="45.188" result="image"
                                                             xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDIuMzc1IiBoZWlnaHQ9IjQ1LjE4OCIgdmlld0JveD0iMCAwIDQyLjM3NSA0NS4xODgiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6IHVybCgjbGluZWFyLWdyYWRpZW50KTsKICAgICAgfQogICAgPC9zdHlsZT4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50IiB5MT0iMjIuNTk0IiB4Mj0iNDIuMzc1IiB5Mj0iMjIuNTk0IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZlNTA2YyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmYzZhMmEiLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgogIDxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjQyLjM3NSIgaGVpZ2h0PSI0NS4xODgiLz4KPC9zdmc+Cg==" />
                                                    <feComposite result="composite" operator="in"
                                                                 in2="SourceGraphic" />
                                                    <feBlend result="blend" in2="SourceGraphic" />
                                                </filter>
                                            </defs>
                                            <path filter="url(#filter-seo-icon-4)"
                                                  d="M26.313,28.406l-8.531-5.719L9.25,28.406V0H26.313V28.406h0Zm-14.25-5.25,5.719-3.937L23.5,23.156V2.813H12.063V23.156h0ZM43.188,2.813H29.031V5.625H40.375v36.75H3.625V5.625H6.438V2.813H0.813V45.188H43.188V2.813h0Z"
                                                  transform="translate(-0.813)" />
                                        </svg>
                                    </span>
                                </div>
                                <div style="text-align:right!important" class="contents">
                                    <h3 style="text-align:right!important">Title</h3>
                                    <p style="text-align:right!important" class="font-size-16 lh-165">Description</p>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
            <div class="lqd-column col-md-3">
                <div class="lqd-column-inner" data-parallax="true" data-parallax-from='{"translateY":50}'
                     data-parallax-to='{"translateY":-130}'
                     data-parallax-options='{"duration":"2000", "easing":"linear", "reverse":true, "triggerHook":"onEnter", "overflowHidden": false}'>
                    @for (int i = 2; i < 4; i++)
                    {
                        if (i < 4)
                        {
                            <div class="iconbox text-left iconbox-round iconbox-lg iconbox-filled iconbox-filled iconbox-filled-hover iconbox-icon-image iconbox-shadow pt-50 pb-40">
                                <div class="iconbox-icon-wrap">
                                    <span class="iconbox-icon-container mb-35">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="42.375"
                                             height="45.188" viewBox="0 0 42.375 45.188">
                                            <defs>
                                                <filter id="filter-seo-icon-4" x="0.813" y="0" width="42.375"
                                                        height="45.188" filterUnits="userSpaceOnUse">
                                                    <feImage preserveAspectRatio="none" x="0.8125" y="0"
                                                             width="42.375" height="45.188" result="image"
                                                             xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDIuMzc1IiBoZWlnaHQ9IjQ1LjE4OCIgdmlld0JveD0iMCAwIDQyLjM3NSA0NS4xODgiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6IHVybCgjbGluZWFyLWdyYWRpZW50KTsKICAgICAgfQogICAgPC9zdHlsZT4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50IiB5MT0iMjIuNTk0IiB4Mj0iNDIuMzc1IiB5Mj0iMjIuNTk0IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZlNTA2YyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmYzZhMmEiLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgogIDxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjQyLjM3NSIgaGVpZ2h0PSI0NS4xODgiLz4KPC9zdmc+Cg==" />
                                                    <feComposite result="composite" operator="in"
                                                                 in2="SourceGraphic" />
                                                    <feBlend result="blend" in2="SourceGraphic" />
                                                </filter>
                                            </defs>
                                            <path filter="url(#filter-seo-icon-4)"
                                                  d="M26.313,28.406l-8.531-5.719L9.25,28.406V0H26.313V28.406h0Zm-14.25-5.25,5.719-3.937L23.5,23.156V2.813H12.063V23.156h0ZM43.188,2.813H29.031V5.625H40.375v36.75H3.625V5.625H6.438V2.813H0.813V45.188H43.188V2.813h0Z"
                                                  transform="translate(-0.813)" />
                                        </svg>
                                    </span>
                                </div>
                                <div style="text-align:right!important" class="contents">
                                    <h3 style="text-align:right!important">Title</h3>
                                    <p style="text-align:right!important" class="font-size-16 lh-165">Description</p>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>


        <div class="lqd-space visible-lg visible-md- mb-130"></div>
        <div id="about" class="row">
            <div class="lqd-column col-md-12">
                <div class="liquid-portfolio-list">
                    <div class="row liquid-portfolio-list-row" data-liquid-masonry="true"
                         data-masonry-options='{ "filtersID": "#seo-pf-grid" }' data-custom-animations="true"
                         data-ca-options='{"triggerHandler":"inview","animationTarget":".ld-pf-item","animateTargetsWhenVisible":"true","duration":"1600","delay":"160","easing":"easeOutQuint","initValues":{"translateY":65,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

                        <div class="col-md col-sm col-xs masonry-item ecommerce grid-hover-overlay text-center pr-1 pt-1">
                            WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe WhoAreWe
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
